#navigator_page{ "data-role" => "page" }
  %div{ "data-role" => "header" }
    %h1= t("waiter.header")
  .content{ "data-role"  => "content" }
    %a{ :href => new_order_path, "data-role" => "button" }= t("waiter.order")

  .content{ "data-role" => "content" }
    %ul#orders{ "data-role" => "listview", "data-theme" => "c", "data-dividertheme" => "b" }
      %li{"data-role" => "list-divider", :role => "heading"}= t("order.pending_header")
      = render :partial => "orders/viewed_by_waiter", :collection => Order.all, :as => :order

- order_template = capture do
  - Ajaxifier.enable do
    = render "orders/viewed_by_waiter", :order => Order.new
:javascript
  var orderTemplate = #{order_template.to_json};
