#order_page{ "data-role" => "page" }
  %div{ "data-role" => "header", "data-position" => "inline" }
    %span.counter.ui-btn-left
    %h1= t("waiter.order", :no => @order.table_number)
    %div.ui-btn-right
      = select("order", "table_number", (1..10).map { |number| [t("order.table_no", :no => number), number] })
    %div{ "data-role" => "navbar" }
      %ul
        %li
          %a{ :href => "#order_page", "data-nav-to" => "#ordering", "data-direction" => "reverse" }= t("order.ordering")
        %li
          %a.ui-btn-active{ :href => "#", "data-nav-to" => "#ordered" }= t("order.ordered")
  #ordering.subpage{ "data-role" => "content" }
    %ul{ "data-role" => "listview", "data-theme" => "c", "data-dividertheme" => "b" }
      - Category.all.each do |category|
        %li{ "data-role" => "list-divider" }= category.name
        - category.items.each do |item|
          %li.item{ "data-item-id" => item.id }
            %a{ :href => "#" }= item.name

  #ordered.subpage.hidden{ "data-role" => "content" }
    %div
      %ul.items{ "data-role" => "listview", "data-theme" => "c", "data-dividertheme" => "b" }
    %br
    %div
      %a#commit_btn{ :href => "#", "data-role" => "button" }= t("order.commit")
    %div
      %a#cancel_btn{ :href => "#", "data-role" => "button", "data-rel" => "back" }= t("order.cancel")
