%li.ui-li-has-count{"data-role" => "list-divider", :role => "heading", "data-theme" => order.theme }
  %a.go-to-btn{ :href => edit_order_path(order) }
    %h3= order.name
    %span.ui-li-count
      = order.timing
      \-
      = order.total_price
  .subtle.padded{"data-type" => "horizontal"}
    - [:ready, :served, :paid].each do |state|
      %span.ires-icon{ :"data-role" => "button", :"data-icon" => state, :"data-mini" => "true", :class => order.send(:"#{state}_icon_visibility_class") }
      - unless state == :ready
        - anchor_extra_attributes = { :"data-confirm" => t("order.#{state}_confirmation") }
        %a{ mark_state_button_attributes(order, state), anchor_extra_attributes }
          = t("buttons.mark_#{state}")
  .clear
