#chef_orders_page{ "data-role" => "page" }
  %div{ "data-role" => "header" }
    %h1= t("ordered_items.header")
  = render :partial => "orders/viewed_by_chef", :collection => Order.all, :as => :order
- chef_order_template = capture do
  = render "orders/viewed_by_chef", :order => Order.new
- chef_order_item_template = capture do
  = render "order_items/order_item", :order_item => OrderItem.new

:javascript
  var chefOrderItemTemplate = #{chef_order_item_template.to_json};
  var chefOrderTemplate = #{chef_order_template.to_json};
