#ordering_page{ "data-role" => "page" }
  %div{ "data-role" => "header" }
    %h1= t("waiter.ordering")
    %span.counter.ui-btn-right
    %div{ "data-role" => "navbar" }
      %ul
        %li
          %a.ui-btn-active{ :href => "#ordering_page" }= t("waiter.ordering")
        %li
          %a{ :href => "#ordered_page" }= t("waiter.ordered")
  %ul{ "data-role" => "listview", "data-theme" => "c", "data-dividertheme" => "b" }
    - Category.all.each do |category|
      %li{ "data-role" => "list-divider" }= category.name
      - category.items.each do |item|
        %li.item{ "data-item-id" => item.id }
          %a{ :href => "#item_#{item.id}" }= item.name

#ordered_page{ "data-role" => "page" }
  %div{ "data-role" => "header" }
    %h1
    %span.counter.ui-btn-right
    %div{ "data-role" => "navbar" }
      %ul
        %li
          %a{ :href => "#ordering_page", "data-direction" => "reverse" }= t("waiter.ordering")
        %li
          %a.ui-btn-active{ :href => "#ordered_page" }= t("waiter.ordered")
  %div{ "data-role" => "content" }
    %ul.items{ "data-role" => "listview", "data-theme" => "c", "data-dividertheme" => "b" }

:javascript
  Waiter.setOrderingPage($('#ordering_page'))
  $('#ordering_page .item').click(function(event){
    event.preventDefault();
    Waiter.addItem($(this).attr('data-item-id'), $(this).text());
  })
  Waiter.setOrderedPage($('#ordered_page'))
