= form_for @category do |f|
  -if @category.errors.any?
    - alert_msg = @category.errors.full_messages.join("<br/>")
    :javascript
      $(document).one('pageinit', function(){
        setTimeout(function(){
          $.mobile.showError(#{alert_msg.to_json})
        }, 0);
      })

  .fields
    %div= f.text_field :name, :placeholder => t(".name")

    %div
      = f.check_box :enabled
      = f.label :enabled, t(".enabled")
  .actions{ :"data-role" => "controlgroup", :"data-type" => "horizontal" }
    = f.submit t("buttons.save")
    - if @category.persisted?
      = link_to t("buttons.delete"), category_path(@category), :method => :delete, :confirm => t(".delete_confirmation"), "data-role" => "button", "data-icon" => "delete"
