= form_for @category do |f|
  -if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .fields
    %div= f.text_field :name, :placeholder => t(".name")
  .actions{ :"data-role" => "controlgroup", :"data-type" => "horizontal" }
    = f.submit t("buttons.save")
    - if @category.persisted?
      = link_to t("buttons.delete"), category_path(@category), :method => :delete, :confirm => t(".delete_confirmation"), "data-role" => "button", "data-icon" => "delete"
