!!!
%html
  %head
    %title IRes
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "/jquery.mobile-1.0.1"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
