!!!
%html
  %head
    %title IRes
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    :javascript
      var pubsubMountpoint = #{PubSub.mount_url.to_json}
    = javascript_include_tag "#{PubSub.mount_url}.js"

  %body
    = yield
