!!!
%html
  %head
    %title IRes
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width; initial-scale=#{view_scale}; maximum-scale=#{view_scale}; minimum-scale=#{view_scale}; target-densitydpi=device-dpi", :name => "viewport"}/
    :javascript
      var pubsubMountpoint = #{PubSub.mount_url.to_json}
    = javascript_include_tag "#{PubSub.mount_url}.js"

  %body
    = yield
    #audio
      - [:new, :ready, :served, :paid, :"item-added"].each do |state|
        %audio{ :class => state, :src => asset_path("bb-#{state}.mp3"), :preloading => true }
    :javascript
      var Player = {
        play: function (state) {
          var player = $('#audio .' + state)[0];
          player.currentTime = 0;
          player.play()
        }
      }
